.info_main {
    align-items: center;
}

.info_main img {
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.main{
    padding-top: 3%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 30px;
    align-items: center;
    width: 530px;
    height: 38px;
    top: 34px;

    background: white;
    border: 1px solid rgba(129, 112, 136, 0.5);
}

.main ul {
    list-style: none;
    display: inline;
}
