.info_main {
    align-items: center;
}

.info_main img {
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_item {
    position: relative;
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 5rem;
  }

.text {
    position: absolute;
    padding: 15%;
    margin: 2%;
    width: 30rem;
    height: auto;
    justify-content: center;
}



.text button {
    width: 15rem;
    height: 3rem;
    border-radius: 30px;
}