* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
}

.main_card_info {
    padding: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_main {
    position: relative;
}

.card {
    position: absolute;
}

.digital_text {
    font-size: 200px;
    color: #FFFFFF;
}

.market_text {
    font-size: 150px;
    color: #FFFFFF;
}

body {
    background: linear-gradient(113.15deg, #FFFFFF -51.29%, #34204C 7.1%, #4C257E 34.24%, #7032BE 53.58%, #30006C 79.92%);
}